*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.logo{
    width: 50px;
}
.list1{
    display: flex;
    gap:1em;
}
.list2{
    display: flex;
    gap:1em;
    justify-content: flex-end;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.head2{
    background-color: rgb(71, 69, 69);
}
.h2,.p1,.p11{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2{
    font-size: 500%;
    color: white;
}
.p1{
    font-size:150%;
    color: plum;
}
.head3{
    background-color: lightblue;
    display: flex;
}
.d3a{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.head4{
    background-color:rgb(252, 252, 145);
}
.headh4b{
    display: flex;
}
.head5{
    background-color: rgb(1, 1, 12) ;
    color: white;
}
.paragraph5{
    color: white;
}
.head6{
    background-color: gray;
}
.list6{
    display: flex;
    gap:2.5em;
    justify-content: center;
}
.list6a{
    background-color: pink;
}
.list6b{
    background-color: linen;
}
.list7{
    background-color: gray;
    display: flex;
    gap:2.5em;
    justify-content: center;
}
.list7a{
    background-color: rgb(221, 185, 141);
}
.list7b{
    background-color: aquamarine;
}
.java,.cplus,.jq,.php{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
.footer{
    background-color: rgb(104, 94, 94);
}
.ftlist{
    display: flex;
}
.icons2{
    display: flex;
    justify-content:flex-end;
    gap:1.5em;
}
.endline{
    display: flex;
    justify-content: center;
}